{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Book{% endtrans %}{% endblock %}

{% block body %}
    <div class="adminForm-container">
        <h1>{% trans %}Edit Book{% endtrans %}</h1>
        <br>
        {{ include('admin_book/_form.html.twig', {'button_label': 'Update'}) }}
        <div class="backBtn-container"><a href="{{ path('app_admin_book_index') }}" class="btn btn-secondary">{% trans %}back to list{% endtrans %}</a></div>
        {{ include('admin_book/_delete_form.html.twig') }}
    </div>
{% endblock %}
