{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Book{% endtrans %}{% endblock %}

{% block body %}
    <div class="adminForm-container">
        <h1>{% trans %}Create new Book{% endtrans %}</h1>
        {{ include('admin_book/_form.html.twig') }}
        <a href="{{ path('app_admin_book_index') }}">{% trans %}back to list{% endtrans %}</a>
    </div>
{% endblock %}
