body {
    background-color: skyblue;
}

.library-container {
    width: 80%;
    margin: 0 auto;
}

.details-container {
    display: flex;
    width: 70%;
    margin: 100px auto;
    /* justify-content: center; */
}

.bookCard {
    margin: -5px;
    min-height: 575px;
}

#bookImg {
    border-radius: 0;
}

.modalBookCard {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBookCard img {
    height: 200px;
    width: auto;
    /* margin: 0 auto; */
}

.bookImg-container img {
    height: 400px;
}

.bookInfo-container {
    margin: 40px;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.fas {
    color: orange;
}