body {
    background-color: skyblue;
}

.library-container {
    width: 80%;
    margin: 0 auto;
}

.details-container {
    display: flex;
    width: 70%;
    margin: 100px auto;
    /* justify-content: center; */
}

.bookCard {
    margin: -5px;
    min-height: 575px;
}

#bookImg {
    border-radius: 0;
}

.modalBookCard {
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modalBookCard img {
    height: 200px;
    width: auto;
    /* margin: 0 auto; */
}

.bookImg-container img {
    height: 400px;
}

.bookInfo-container {
    margin: 40px;
}

.pagination-container {
    display: flex;
    justify-content: center;
}

.btn-container {
    display: flex;
    justify-content: center;
}

.fas {
    color: orange;
}

.loansBtn {
    position: absolute;
    right: 40px;
}

.table-container {
    margin-top: 30px;
    border-radius: 10px;
}

.activeStatus {
    color: forestgreen;
}

.myLoansImages {
    height: 60px;
    width: auto;
}

#extensionModalImg {
    height: 80px;
    width: auto;
}

.extensionModalInfo {
    gap: 15px;
}

.book-title-container {
    font-size: smaller;
}

.crud-container {
    margin: 0 80px;
}

.adminForm-container {
    padding: 20px 80px;
}

.backBtn-container {
    margin: 10px 0;
}

.crudImg {
    height: 100px;
    width: auto;
}